<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include head.html %>
  <link rel='stylesheet' href='/css/index.css' />
</head>
<body>
<header id="header">
  <div id="page_top">
    <div class="bg-wrap">
      <div class="bg"></div>
      <div class="mask"></div>
    </div>
  </div>
</header>

</div>
<div class="nav-area">
  <div class="wapper">
  <ul>
    <li><a  href="">首页</a></li>
    <li ><a href="">动漫</a></li>
    <li ><a href="">TV剧</a></li>
  </ul>
  </div>
</div>
<div class="main-content">
  <div class="one-block">
    <div class="block-head">
      番剧
    </div>
    <ul class="block-content">
        <li class="item">
          <a href="#" class="thumbnail">
            <img src="/img/1.jpg" alt="测试">
          </a>
        </li>
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/2.jpg" alt="测试">
        </a>
      </li>
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/3.jpg" alt="测试">
        </a>
      </li>
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/4.jpg" alt="测试">
        </a>
      </li>
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/5.jpg" alt="测试">
        </a>
      </li>
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/6.jpg" alt="测试">
        </a>
      </li>
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/1.jpg" alt="测试">
        </a>
      </li>
      </ul>
  </div>
</div>
<!--<div class="col-md-1"></div>
<div class="col-xs-12 col-md-10 col-sm-12">
  <div class="container-fluid">

    <div class="row selfContent" >
      <h5>番剧</h5>
      <div class="container-fluid">
        <div class="row">

          <div class="col-xs-4 col-md-2 col-sm-3">

          </div>
          <div class="col-xs-4 col-md-2 col-sm-3">
            <a href="#" class="thumbnail">
              <img src="/img/6.jpg" alt="测试">
            </a>
          </div>
          <div class="col-xs-4 col-md-2 col-sm-3">
            <a href="#" class="thumbnail">
              <img src="/img/3.jpg" alt="测试">
            </a>
          </div>
          <div class="col-xs-4 col-md-2 col-sm-3">
            <a href="#" class="thumbnail">
              <img src="/img/4.jpg" alt="测试">
            </a>
          </div>
          <div class="col-xs-4 col-md-2 col-sm-3">
            <a href="#" class="thumbnail">
              <img src="/img/5.jpg" alt="测试">
            </a>
          </div>
          <div class="col-xs-4 col-md-2 col-sm-3">
            <a href="#" class="thumbnail">
              <img src="/img/1.jpg" alt="测试">
            </a>
          </div>
          <div class="col-xs-4 col-md-2 col-sm-3">
            <a href="#" class="thumbnail">
              <img src="/img/6.jpg" alt="测试">
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-1"></div>
</div>
</div>-->
</div>

</body>
</html>
