<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include head.html %>
  <% include pageHeadWithBg.html %>
  <link rel="stylesheet" href="/css/oneBlock.css"/>
</head>
<body>
<div class="main-content">
  <div class="block-content">
  <div class="one-block">
    <div class="block-head">
      <span>番剧</span>
      <a>more..</a>
    </div>
    <ul class="block-content">
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/1.jpg" alt="测试" class="cover">
        </a>
        <div class="info">
          <a href="">末日有没有空，可以来拯救吗</a>
          <p>
            <span> 2017-10-10</span>
            <span style="padding-left: 20px">00:00</span>
          </p>
        </div>
      </li>
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/3.jpg" alt="测试" class="cover">
        </a>
        <div class="info">
          <a href="">末日有没有空，可以来拯救吗</a>
          <p>
            <span> 2017-10-10</span>
            <span style="padding-left: 20px">00:00</span>
          </p>
        </div>
      </li>
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/4.jpg" alt="测试" class="cover">
        </a>
        <div class="info">
          <a href="">末日有没有空，可以来拯救吗</a>
          <p>
            <span> 2017-10-10</span>
            <span style="padding-left: 20px">00:00</span>
          </p>
        </div>
      </li>
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/5.jpg" alt="测试" class="cover">
        </a>
        <div class="info">
          <a href="">末日有没有空，可以来拯救吗</a>
          <p>
            <span> 2017-10-10</span>
            <span style="padding-left: 20px">00:00</span>
          </p>
        </div>
      </li>
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/6.jpg" alt="测试" class="cover">
        </a>
        <div class="info">
          <a href="">末日有没有空，可以来拯救吗</a>
          <p>
            <span> 2017-10-10</span>
            <span style="padding-left: 20px">00:00</span>
          </p>
        </div>
      </li>
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/2.jpg" alt="测试" class="cover">
        </a>
        <div class="info">
          <a href="">末日有没有空，可以来拯救吗</a>
          <p>
            <span> 2017-10-10</span>
            <span style="padding-left: 20px">00:00</span>
          </p>
        </div>
      </li>
      <li class="item">
        <a href="#" class="thumbnail">
          <img src="/img/1.jpg" alt="测试" class="cover">
        </a>
        <div class="info">
          <a href="">末日有没有空，可以来拯救吗</a>
          <p>
            <span> 2017-10-10</span>
            <span style="padding-left: 20px">00:00</span>
          </p>
        </div>
      </li>

      </ul>
  </div>
    <div class="one-block">
      <div class="block-head">
        <span>番剧</span>
        <a>more..</a>
      </div>
      <ul class="block-content">
        <li class="item">
          <a href="#" class="thumbnail">
            <img src="/img/1.jpg" alt="测试" class="cover">
          </a>
          <div class="info">
            <a href="">末日有没有空，可以来拯救吗</a>
            <p>
              <span> 2017-10-10</span>
              <span style="padding-left: 20px">00:00</span>
            </p>
          </div>
        </li>
        <li class="item">
          <a href="#" class="thumbnail">
            <img src="/img/3.jpg" alt="测试" class="cover">
          </a>
          <div class="info">
            <a href="">末日有没有空，可以来拯救吗</a>
            <p>
              <span> 2017-10-10</span>
              <span style="padding-left: 20px">00:00</span>
            </p>
          </div>
        </li>
        <li class="item">
          <a href="#" class="thumbnail">
            <img src="/img/4.jpg" alt="测试" class="cover">
          </a>
          <div class="info">
            <a href="">末日有没有空，可以来拯救吗</a>
            <p>
              <span> 2017-10-10</span>
              <span style="padding-left: 20px">00:00</span>
            </p>
          </div>
        </li>
        <li class="item">
          <a href="#" class="thumbnail">
            <img src="/img/5.jpg" alt="测试" class="cover">
          </a>
          <div class="info">
            <a href="">末日有没有空，可以来拯救吗</a>
            <p>
              <span> 2017-10-10</span>
              <span style="padding-left: 20px">00:00</span>
            </p>
          </div>
        </li>
        <li class="item">
          <a href="#" class="thumbnail">
            <img src="/img/6.jpg" alt="测试" class="cover">
          </a>
          <div class="info">
            <a href="">末日有没有空，可以来拯救吗</a>
            <p>
              <span> 2017-10-10</span>
              <span style="padding-left: 20px">00:00</span>
            </p>
          </div>
        </li>
        <li class="item">
          <a href="#" class="thumbnail">
            <img src="/img/2.jpg" alt="测试" class="cover">
          </a>
          <div class="info">
            <a href="">末日有没有空，可以来拯救吗</a>
            <p>
              <span> 2017-10-10</span>
              <span style="padding-left: 20px">00:00</span>
            </p>
          </div>
        </li>
        <li class="item">
          <a href="#" class="thumbnail">
            <img src="/img/1.jpg" alt="测试" class="cover">
          </a>
          <div class="info">
            <a href="">末日有没有空，可以来拯救吗</a>
            <p>
              <span> 2017-10-10</span>
              <span style="padding-left: 20px">00:00</span>
            </p>
          </div>
        </li>

      </ul>
    </div>
  </div>

</div>
</div>

<script type="text/javascript">
    /*$(".info p").css("transition","margin-top .3s ease-in");*/
</script>
</body>
</html>
