<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>视频播放</title>
    <% include head.html %>
    <% include pageHead.html %>
    <link rel="stylesheet" href="/css/playerVideo.css">
    <link rel="stylesheet" href="/css/videoBox.css">
    <link rel="stylesheet" href="/css/soundBar.css">
</head>
<body>
<div class="main-content">
    <div class="title">

    </div>
<div class="video-box" id="video-box-id">
    <div class="video-title">
        测试视频
    </div>
    <div class="video-main" onclick="playOrPause()" style="z-index: 1">
        <video   preload="auto" >
                <!--<source src="http://localhost:8081/video?name=123" type="video/mp4">-->
           <!-- <source src="http://221.228.226.23/11/t/j/v/b/tjvbwspwhqdmgouolposcsfafpedmb/sh.yinyuetai.com/691201536EE4912BF7E4F1E2C67B8119.mp4"
                    type="video/mp4">-->
           <source src="http://localhost:3000/[SUBPIG][Gintama TV 01].mp4" type="video/mp4">
        </video>
    </div>
    <div class="control-mask"></div>
    <div class="video-control">
        <div class="bar-area" id="bar-area-id">
            <div class="bar">
                <div class="buffbar"></div>
                <div class="playbar"></div>
            </div>
        </div>

        <div class="time-flag" id="time-flag-id">00:00</div>

        <div class="btns">
            <div class="glyphicon glyphicon-play" id="btn-play" onclick="playOrPause()"></div>
            <span class="play-time">00:00:00</span>
            <span class="play-alltime">/00:00</span>
            <div class="glyphicon glyphicon-volume-up " id="sound">
                <div id="sound-slider-box-2">
                    <span>0</span>
                    <div id="sound-slider-bar">
                        <div id="sound-slider-line" style="pointer-events: none;"></div>
                    </div>
                    <div id="sound-radio" style="pointer-events: none;"></div>
                </div>

            </div>
            <div class="glyphicon glyphicon-resize-full" id="fullscreen">
            </div>
            <div class="glyphicon glyphicon-cog" id="setting"></div>
        </div>
    </div>
</div>
<div class="listContent">
    hhhh
</div>
</div>
<script type="text/javascript" src="/js/videoContral.js">

</script>
</body>
</html>