<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <% include head.html %>
    <% include pageHeadWithBg.html %>
    <link rel="stylesheet" href="/css/oneBlock.css"/>
    <link rel="stylesheet" href="/css/videoList.css"/>
</head>
<body>
<div class="main-content">
    <div class="block-content">
        <div class="classify">
            <ul>
                <li>
                <span class="classify-name">
                    类型
                </span>
                    <p class="classify-type">
                        <span><a>漫改</a></span>
                        <span><a>游戏改</a></span>
                        <span><a>泡面</a></span>
                        <span><a>热血</a></span>
                        <span><a>治愈</a></span>
                        <span><a>漫改</a></span>
                        <span><a>游戏改</a></span>
                        <span><a>泡面</a></span>
                        <span><a>热血</a></span>
                        <span><a>治愈</a></span>
                        <span><a>漫改</a></span>
                        <span><a>游戏改</a></span>
                        <span><a>泡面</a></span>
                        <span><a>热血</a></span>
                        <span><a>治愈</a></span>
                        <span><a>漫改</a></span>
                        <span><a>游戏改</a></span>
                        <span><a>泡面</a></span>
                        <span><a>热血</a></span>
                        <span><a>治愈</a></span>
                        <span><a>漫改</a></span>
                        <span><a>游戏改</a></span>
                        <span><a>泡面</a></span>
                        <span><a>热血</a></span>
                        <span><a>治愈</a></span>
                        <span><a>漫改</a></span>
                        <span><a>游戏改</a></span>
                        <span><a>泡面</a></span>
                        <span><a>热血</a></span>
                        <span><a>治愈</a></span>

                        <span ><a href="" class="mSelect">多选</a></span>

                    </p>
                </li>
                <li>
                <span class="classify-name">
                    类型
                </span>
                    <p class="classify-type">
                        <span><a>漫改</a></span>
                        <span><a>游戏改</a></span>
                        <span><a>泡面</a></span>
                        <span><a>热血</a></span>
                        <span><a>治愈</a></span>
                        <span><a>漫改</a></span>
                        <span><a>游戏改</a></span>
                        <span><a>泡面</a></span>
                        <span><a>热血</a></span>
                        <span><a>治愈</a></span>
                        <span><a>漫改</a></span>
                        <span><a>游戏改</a></span>
                        <span><a>泡面</a></span>
                        <span><a>热血</a></span>
                        <span><a>治愈</a></span>
                        <span><a>漫改</a></span>
                        <span><a>游戏改</a></span>
                        <span><a>泡面</a></span>
                        <span><a>热血</a></span>

                    </p>
                </li>
            </ul>
        </div>
        <div class="one-block">
            <div class="block-sort">
                <span class="sort-a">
                    <a href="">
                        最近更新
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                       <!-- <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>-->
                    </a>
                    <a href="">评分最高
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    </a>
                </span>
                <span class="total">总共16666</span>
            </div>
            <ul class="block-content">
                <li class="item">
                    <a href="#" class="thumbnail">
                        <img src="/img/1.jpg" alt="测试" class="cover">
                    </a>
                    <div class="info">
                        <a href="">末日有没有空，可以来拯救吗</a>
                        <p>
                            <span> 2017-10-10</span>
                            <span style="padding-left: 20px">00:00</span>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <a href="#" class="thumbnail">
                        <img src="/img/3.jpg" alt="测试" class="cover">
                    </a>
                    <div class="info">
                        <a href="">末日有没有空，可以来拯救吗</a>
                        <p>
                            <span> 2017-10-10</span>
                            <span style="padding-left: 20px">00:00</span>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <a href="#" class="thumbnail">
                        <img src="/img/4.jpg" alt="测试" class="cover">
                    </a>
                    <div class="info">
                        <a href="">末日有没有空，可以来拯救吗</a>
                        <p>
                            <span> 2017-10-10</span>
                            <span style="padding-left: 20px">00:00</span>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <a href="#" class="thumbnail">
                        <img src="/img/5.jpg" alt="测试" class="cover">
                    </a>
                    <div class="info">
                        <a href="">末日有没有空，可以来拯救吗</a>
                        <p>
                            <span> 2017-10-10</span>
                            <span style="padding-left: 20px">00:00</span>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <a href="#" class="thumbnail">
                        <img src="/img/6.jpg" alt="测试" class="cover">
                    </a>
                    <div class="info">
                        <a href="">末日有没有空，可以来拯救吗</a>
                        <p>
                            <span> 2017-10-10</span>
                            <span style="padding-left: 20px">00:00</span>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <a href="#" class="thumbnail">
                        <img src="/img/2.jpg" alt="测试" class="cover">
                    </a>
                    <div class="info">
                        <a href="">末日有没有空，可以来拯救吗</a>
                        <p>
                            <span> 2017-10-10</span>
                            <span style="padding-left: 20px">00:00</span>
                        </p>
                    </div>
                </li>
                <li class="item">
                    <a href="#" class="thumbnail">
                        <img src="/img/1.jpg" alt="测试" class="cover">
                    </a>
                    <div class="info">
                        <a href="">末日有没有空，可以来拯救吗</a>
                        <p>
                            <span> 2017-10-10</span>
                            <span style="padding-left: 20px">00:00</span>
                        </p>
                    </div>
                </li>

            </ul>
        </div>
        <div class="page-list">
            <a class="prev-page">
                上一页
            </a>
            <a>
                1
            </a>
            <a>
                2
            </a>
            <a>
                3
            </a>
            <a>
                4
            </a>
            <a class="next-page">
                下一页
            </a>
            <span>总页数：10/200 跳页</span>
            <input class="jumpInput">

            </input>
        </div>
    </div>
</div>
    <script type="text/javascript"></script>
</body>
</html>