.block-content
{
    width: 1236px;
    display: block;
    margin: 30px auto 0 auto;
    height: auto;
    position: relative;
}
/*定义单个分区容器类型*/
.one-block{
    display: table;
    margin:0 20px 30px 20px;
    padding: 0;
}

/*定义单个分区标题*/
.block-head span
{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
.block-head{
    position:relative;
}
/*定义单个分区标题超链接*/
.block-head a{
    position:absolute;
    color: #2aabd2;
    font-size: 14px;
    bottom: 0;
    right: 0;
}
/*定义单个分区中视频布局容器，不包含标题的*/
.one-block ul
{
    margin:10px -18px 0 -18px;
    list-style: none;
}
/*定义单个视频容器*/
.one-block .item
{
    position: relative;
    float: left;
    width: 170px;
    height: 266px;
    margin: 0px 18px 10px 18px;
    padding: 0;
    font-size: 100%;
    list-style: none;
    overflow: hidden;
}
.one-block .item:hover .info p{
    margin-top: 12px;
    transition: margin-top .1s ease-in;
}
/*定义每个视频图片容器的边距和外发光*/
.one-block .thumbnail
{
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 3px;
}
/*定义每个视频图片尺寸*/
.one-block .cover
{
    height: 220px;
    width: 100%;
}
.info{
    padding:0 3px 0 3px;
}
/*定义每个视频下方名字*/
.info a
{
    text-decoration: none;
    position:relative;
    overflow: hidden;
    z-index: 1;
    line-height: 12px;
    font-size: 100%;
}
.info p{
    background: #ffffff;
    position:absolute;
    z-index: 2;
    margin-top: 0px;
    top: 252px;
    width: 100%;
    transition: margin-top .1s ease-in;
    color: #99a2aa;
}