.main-content{
    width: 1200px;
    display: block;
    margin: 20px auto 0 auto;
    position: relative;
}
.video-box div
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
.video-box span
{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
.video-main{
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
    box-shadow: 2px 2px 3px #8c8c8c;
}
.video-control
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    height: 36px;
    line-height: 36px;
    z-index:4;
    bottom: 0;
    left: 10px;
    right: 10px;
}
.bar-area{
    bottom: 36px;
    position: absolute;
    border-radius: 1px;
    overflow: hidden;
    height: 12px;

    left: 0px;
    right: 0px;

}
.bar{
    background: hsla(0,0%,100%,.2);
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 2px;
    transform: translate(0,-50%)
}
.bar-area:hover .bar
{
    height:4px;
}
.buffbar
{
    position: absolute;
    height: 100%;
    width: 0%;
    background: hsla(1,0%,100%,.3);
}
.playbar
{
    position: absolute;
    width: 0%;
    height: 100%;
    background: #00a1d6;
}
.time-flag
{
    position: absolute;
    height: 25px;
    padding: 0 5px 0 5px;
    display: none;
    color: #fff;
    background: #000;
    border-radius: 4px;
    z-index: 5;
    top:-40px;
    line-height: 25px;
}
.control-mask{
    pointer-events: none;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: bottom;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==) repeat-x bottom;
    z-index: 3;

   /* opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;*/
}
.btns{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

}
.play-time{
    color: #fff;
    font-size: 14px;
    display: inline;
    margin-left: 50px;
}
.play-alltime{
    color: #fff;
    font-size: 14px;
    display: inline;
}
.btns div{
    color: #fff;
    position: absolute;
    top: 4px ;
    bottom: 4px;
}
#sound{
    font-size: 24px;
    right: 50px;
    display: block;
    position: absolute;
}
#sound-slider-box
{
    background: hsla(0,0%,0%,.6);
    display: none;
    position: absolute;
    height: 40px;
    z-index: 5;
    width: 140px;
    right: -60px;
    top: -90px;
}
.sound-slider-box-2
{
    display: block;
    position: absolute;
    width: 50px;
    height: 150px;
    background-color: hsla(0,0%,0%,1);;;
}

.sound-slider-bar{
    display: block;
    position: absolute;
    right: 5px;
    top: 10px;
    width: 20px;
    height: 20px;
}

#btn-play{
   font-size: 24px;
    left: 10px;
}
#sound:hover #sound-slider-box{
display: block;
}
#fullscreen{
    font-size: 18px;
    right: 10px;
    margin: 4px;
}
#setting{
    font-size: 20px;
    right:90px;
    margin: 2px;
}


/*
#sound-slider-box span{
    display: block;
    position: absolute;
    right: 5px;
    top: 10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

#sound-slider-box input{
    position: absolute;
    left: 10px;
    top: 2px;
    bottom: 2px;
    display: block;
    width: 100px;
    -webkit-appearance: none;
    background-color: hsla(0,0%,0%,0);;
}
!*chrome*!
#sound-slider-box input::-webkit-slider-runnable-track{
    height: 4px;
    background-color: #ffffff;
}
!*chrome*!
#sound-slider-box input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    margin-top: -5px; !*使滑块超出轨道部分的偏移量相等*!
    border-radius: 50%; !*外观设置为圆形*!
    background-color: #2aabd2;
}
!*edge*!
#sound-slider-box input::-ms-track{
    height: 4px;
    background-color: #ffffff;
}
!*edge*!
#sound-slider-box input::-ms-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    margin-top: 0px; !*使滑块超出轨道部分的偏移量相等*!
    border-radius: 50%; !*外观设置为圆形*!
    background-color: #2aabd2;
}
#sound-slider-box input:focus{
    outline: none;
}
*/
