.video-box div {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
.video-box span {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
.video-box {
    width: 100%;
    display: table;
    position: relative;
}
.video-title{
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding-top: 5px;
    padding-left: 40px;
    display: none;
    background: -webkit-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.0)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.0)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.0)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.0)); /* 标准的语法 */
   /* background-color: rgba(0,0,0,.4);*/
    z-index: 6;
}
.video-main{
    position: relative;
    display: block;
    box-shadow: 2px 2px 3px #8c8c8c;
    height: 100%;
}
.video-main video{
    width: 100%;
    display: block;
    cursor: pointer;
}

/*全屏时视频居中*/
.video-box:fullscreen .video-main video{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.video-box:-webkit-full-screen .video-main video{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.video-box:-ms-fullscreen .video-main video{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.video-box:-moz-full-screen .video-main video{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
/*全屏时视频居中*/

/*全屏时显示标题*/
.video-box:fullscreen .video-title{
    display: block;
}
.video-box:-webkit-full-screen .video-title{
    display: block;
}
.video-box:-ms-fullscreen .video-title{
    display: block;
}
.video-box:-moz-full-screen .video-title{
    display: block;
}
/*全屏时显示标题*/

.video-control{
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: flex;*/
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: absolute;
    height: 36px;
    line-height: 36px;
    z-index:4;
    bottom: 0;
    left: 10px;
    right: 10px;
}
.bar-area{
    bottom: 36px;
    position: absolute;
    border-radius: 1px;
    overflow: hidden;
    height: 12px;

    left: 0px;
    right: 0px;

}
.bar{
    background: hsla(0,0%,100%,.2);
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    height: 2px;
    transform: translate(0,-50%);
    cursor: pointer;
}
.bar-area:hover .bar{
    height:4px;
}
.buffbar {
    position: absolute;
    height: 100%;
    width: 0%;
    background: hsla(1,0%,100%,.3);
}
.playbar {
    position: absolute;
    width: 0%;
    height: 100%;
    background: #00a1d6;
}
.time-flag {
    position: absolute;
    height: 25px;
    padding: 0 5px 0 5px;
    display: none;
    color: #fff;
    background: #000;
    border-radius: 4px;
    z-index: 5;
    top:-40px;
    line-height: 25px;
}
.control-mask{
    pointer-events: none;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position: bottom;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==) repeat-x bottom;
    z-index: 3;

    /* opacity: 0;
     visibility: hidden;
     -webkit-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;*/
}
.btns{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

}
.play-time{
    color: #fff;
    font-size: 14px;
    display: inline;
    margin-left: 50px;
}
.play-alltime{
    color: #fff;
    font-size: 14px;
    display: inline;
}
.btns div{
    color: #fff;
    position: absolute;
    top: 4px ;
    bottom: 4px;
}
#sound{
    font-size: 24px;
    right: 50px;
    display: block;
    position: absolute;
}
#btn-play{
    font-size: 24px;
    left: 10px;
}
#fullscreen{
    font-size: 18px;
    right: 10px;
    margin: 4px;
}
#setting{
    font-size: 20px;
    right:90px;
    margin: 2px;
}
